img {
    width: 140px;
    height: 150px;
    object-fit: contain;
  }

  title{
    text-align: left;
  }

.card {
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
  } 

.Row{
  display: flex;
}