
.navbar{
    background:black;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav_logo{
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
    color: white;
}
.nav_items a{
    color: black;
    position: inherit;
    text-decoration: none;
}

.toggle {
    margin-bottom: 15px ;
    margin-right: 15px;
}

