.navbar {
    background: black;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_logo {
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
    color: white;
}

.nav_items a {
    color: black;
    position: inherit;
    text-decoration: none;
}

.toggle {
    margin-bottom: 15px;
    margin-right: 15px;
}

.menu-perfil {
    background: linear-gradient(90deg, #000000 0%, #434343 78%);
}

.font-perfil-head {
    /* font-family: 'Acme', sans-serif;*/
    /* font-family: 'Londrina Solid', cursive; */
    /* font-family: 'Oleo Script', cursive; */
    background: linear-gradient(90deg, #0575E6 0%, #00F260 98%);
    color: white;
}

.datos-perfil {
    font-family: 'Acme', sans-serif;
    background: linear-gradient(360deg, #757F9A 0%, #D7DDE8 30%, #dae0eb 95%);
    padding-left: 25px;
    font-size: 18px;
}


.datos-item {
    margin: 10px 0 40px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}